<template>
  <v-card color="basil" class="responsive-card">
    <v-card-title class="text-center justify-center py-6">
      <h1 class="font-weight-bold text-h2 text-basil">Salary</h1>
    </v-card-title>
    <v-tabs v-model="tab" bg-color="transparent" color="basil" grow>
      <v-tab v-for="item in items" :key="item" :value="item">
        {{ item }}
      </v-tab>
    </v-tabs>
    <v-window v-model="tab">
      <v-window-item v-for="item in items" :key="item" :value="item">
        <v-card color="basil" flat>
          <v-card-text v-if="item === 'Payment'">
            <v-dialog v-model="paymentDialog" persistent width="800">
              <template v-slot:activator="{ props }">
                <v-btn color="green" v-bind="props"> <v-icon>mdi mdi-plus</v-icon> Add New </v-btn>
              </template>
              <!-- Payment Details Dialog -->
              <v-card>
                <v-card-title>
                  <span class="text-h5">Payment Details</span>
                </v-card-title>
                <v-card-text>
                  <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field
                            v-model="editedPayment.date"
                            :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']"
                            class="mb-2"
                            clearable
                            label="Date"
                            type="date"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field
                            v-model="editedPayment.userId"
                            :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']"
                            class="mb-2"
                            clearable
                            label="User ID"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field
                            v-model="editedPayment.workingHours"
                            :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']"
                            class="mb-2"
                            clearable
                            label="Working Hours"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field
                            v-model="editedPayment.workRate"
                            :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']"
                            class="mb-2"
                            clearable
                            label="Work Rate"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                  <small>* indicates required field</small>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue-darken-1" variant="text" @click="closePaymentDialog()">
                    Close
                  </v-btn>
                  <v-btn color="blue-darken-1" variant="text" @click="savePayment()"> Save </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- Payment Table -->
            <v-data-table :header="paymentTableHeaders" :items="paymentTableData">
              <template v-slot:item.action="{ item }">
                <v-btn @click="handlePay(item)" color="primary">Pay</v-btn>
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-text v-else-if="item === 'History'">
            <!-- History Details Dialog -->
            <v-dialog v-model="historyDialog" persistent width="800">
              <v-card>
                <v-card-title>
                  <span class="text-h5">History Details</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="selectedHistoryItem.date"
                          :readonly="true"
                          label="Date"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="selectedHistoryItem.userId"
                          :readonly="true"
                          label="User ID"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="selectedHistoryItem.workingHours"
                          :readonly="true"
                          label="Working Hours"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="selectedHistoryItem.workRate"
                          :readonly="true"
                          label="Work Rate"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue-darken-1" variant="text" @click="closeHistoryDialog()">
                    Close
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!-- History Table -->
            <v-data-table :header="historyTableHeaders" :items="historyTableData">
              <template v-slot:item.action="{ item }">
                <v-icon size="small" class="me-2" @click="showHistoryDetails(item)">mdi-eye</v-icon>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-window-item>
    </v-window>
  </v-card>
</template>

<script setup lang="ts">
import { ref } from 'vue'

interface Payment {
  id: number
  date: string
  userId: string
  workingHours: number
  workRate: number
  action: string
}

interface HistoryEntry {
  id: string
  userId: string
  action: string
  date: string
  workingHours?: number
  workRate?: number
}

const tab = ref('Payment')
const items = ['Payment', 'History']
const paymentDialog = ref(false)
const historyDialog = ref(false)
const loading = ref(false)
const form = ref({})
const editedPayment = ref<Payment>({
  id: '',
  date: '',
  userId: '',
  workingHours: '',
  workRate: '',
  action: ''
})
const selectedHistoryItem = ref<HistoryEntry>({
  id: '',
  userId: '',
  action: '',
  date: '',
  workingHours: undefined,
  workRate: undefined
})
const paymentTableHeaders = [
  { text: 'Id', value: 'id' },
  { text: 'Date', value: 'date' },
  { text: 'User ID', value: 'userId' },
  { text: 'Working Hours', value: 'workingHours' },
  { text: 'Work Rate', value: 'workRate' },
  { text: 'Action', value: 'action' }
]
const paymentTableData = ref<Payment[]>([
  { id: 1, date: '2024-02-02', userId: '1', workingHours: 8, workRate: 10, action: 'Pay' },
  { id: 2, date: '2024-02-03', userId: '2', workingHours: 7, workRate: 12, action: 'Pay' }
])
const historyTableHeaders = [
  { text: 'Receipt ID', value: 'id' },
  { text: 'User ID', value: 'userId' },
  { text: 'Action', value: 'action' }
]
const historyTableData = ref<HistoryEntry[]>([
  { id: '1', userId: '1', action: 'Detail', date: '2024-02-02', workingHours: 8, workRate: 10 }
])

const handlePay = (item: Payment) => {
  console.log('Pay action for item:', item)
  const paymentEntryIndex = paymentTableData.value.findIndex((entry) => entry.id === item.id)
  if (paymentEntryIndex !== -1) {
    const paymentEntry = paymentTableData.value.splice(paymentEntryIndex, 1)[0]
    historyTableData.value.push(paymentEntry)
  }
}

const onSubmit = () => {
  // Your submission logic here
}

const closePaymentDialog = () => {
  paymentDialog.value = false
}

const savePayment = () => {
  const newData: Payment = {
    date: editedPayment.value.date,
    userId: editedPayment.value.userId,
    workingHours: editedPayment.value.workingHours,
    workRate: editedPayment.value.workRate,
    action: 'Pay' // You may need to adjust this depending on your use case
  }

  paymentTableData.value.push(newData)

  editedPayment.value = {
    id: '',
    date: '',
    userId: '',
    workingHours: '',
    workRate: '',
    action: ''
  }

  paymentDialog.value = false
}

const showHistoryDetails = (item: HistoryEntry) => {
  historyDialog.value = true
  selectedHistoryItem.value = {
    id: item.id,
    userId: item.userId,
    action: item.action,
    date: item.date,
    workingHours: item.workingHours,
    workRate: item.workRate
  }
}

const closeHistoryDialog = () => {
  historyDialog.value = false
}
</script>

<style scoped>
.bg-basil {
  background-color: #bcd4f0 !important;
}

.text-basil {
  color: #356859 !important;
}

.large-card {
  width: 100%;
  height: 100%;
}

.responsive-card {
  width: 1200px;
  max-width: 1200px;
}
</style>
