<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { usePromotionStore } from '@/stores/promotion'
import type { Promotion } from '@/types/Promotion'

const PromotionStore = usePromotionStore()
let editedIndex = -1
const PromotionHistory = ref(PromotionStore.Promotion)
const dialog = ref(false)
const dialog1 = ref(false)
const selectedPromotion = ref()
const newPromotion = ref({
  name: '',
  Discount: ''
})
const initialPromotion: Promotion = {
  id: -1,
  name: '',
  Discount: ''
}
const promotion = ref<Promotion[]>([])
const editedPromotion = ref<Promotion>(JSON.parse(JSON.stringify(initialPromotion)))
const PromotionHeaders = [
  { title: 'ID', value: 'id' },
  { title: 'Name', value: 'name' },
  { title: 'Discount', value: 'Discount' }
]

function initializePromotionHistory() {
  PromotionHistory.value = PromotionStore.Promotion
}

onMounted(() => {
  initializePromotionHistory()
})

function editItem(item: Promotion) {
  editedIndex = promotion.value.indexOf(item)
  editedPromotion.value = Object.assign({}, item)
  dialog1.value = true
}

function addPromotion() {
  if (newPromotion.value.name && newPromotion.value.Discount) {
    PromotionStore.savePromotion({
      id: PromotionHistory.value.length + 1,
      name: newPromotion.value.name,
      Discount: newPromotion.value.Discount
    })

    newPromotion.value = { name: '', Discount: '' }

    dialog.value = false
  } else {
    alert('Please fill in all fields.')
  }
}

function deletePromotion(promotion: Promotion) {
  const index = PromotionHistory.value.findIndex((promo: Promotion) => promo === promotion)
  if (index !== -1) {
    PromotionHistory.value.splice(index, 1)
  }
}

const confirmDeletePromotion = (item: Promotion) => {
  if (window.confirm('Are you sure you want to delete this Promotion?')) {
    deletePromotion(item)
  }
}
</script>

<template>
  <div>
    <v-data-table
      :headers="PromotionHeaders"
      :items="PromotionHistory"
      style="background-color: rgba(202, 174, 123, 0.582)"
    >
      <template v-slot:top>
        <v-toolbar flat style="background-color: rgba(82, 72, 54, 0.842)">
          <v-toolbar-title style="color: rgb(255, 255, 255)"> Promotion</v-toolbar-title>
          <v-divider class="mx-4" inset vertical color="blue darken-2"></v-divider>
          <v-btn
            color="white"
            @click="dialog = true"
            variant="outlined"
            style="margin-top: 2px; margin-left: 50px"
          >
            <v-icon style="margin-right: 8px">mdi-package-variant-plus</v-icon>Add New Promotion
          </v-btn>
          <v-dialog v-model="dialog" max-width="800">
            <v-card>
              <v-card-title>New Promotion</v-card-title>
              <v-card-text>
                <v-form @submit.prevent="addPromotion">
                  <v-text-field v-model="newPromotion.name" label="Name"></v-text-field>
                  <v-text-field v-model="newPromotion.Discount" label="Discount"></v-text-field>
                  <v-btn type="submit" color="primary">Add</v-btn>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="red" @click="dialog = false">Cancel</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item="{ item }">
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.Discount }}</td>
          <td>
            <v-icon @click="editItem(item)" style="cursor: pointer">mdi-eye</v-icon>

            <v-icon style="margin-left: 3px" @click="confirmDeletePromotion(item)"
              >mdi-delete</v-icon
            >
          </td>
        </tr>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initializePromotionHistory">Reset</v-btn>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog" max-width="800">
      <v-card>
        <v-card-title>Promotion Details</v-card-title>
        <v-card-text>
          <div v-if="selectedPromotion">
            <p>ID: {{ selectedPromotion.id }}</p>
            <p>Name: {{ selectedPromotion.name }}</p>
            <p>Discount: {{ selectedPromotion.Discount }}</p>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn color="red" @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
